body{
    background-image: url(imagenes/img6.jpg);
    background-size: 100vw 100vh; /*Viewport Width y Viewport Height*/
    background-attachment: fixed;
    margin: 0;
}
.logotckr{
    width: 30px;
    height: 30px;
}
.title{
    text-align: center;
    color: rgb(220, 239, 9);
}
.tablas{
    margin: 10px 10px;
    padding: 10px 10px;
   
}
@media (max-width: 1070px) {
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}
@media (max-width: 600px) {
    .columna{
        width:100%;
        margin-bottom: 20px;
    }
}