.contenedor{

    border: 2px solid black;
    background: linear-gradient(to right, #141e30, #243b55);
    color: rgb(255, 255, 255);
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(211, 211, 211, 0.462);
    width: 50%;
    box-sizing: border-box;

}

  body{
    background-image: url(imagenes/road.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;

  }


  #h1style
  {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #fff;
  }
  footer{

    transform: translateY(200px);
           
       }