.contenedor{
    
    color:#ffff;
    transform:translateY(-30px);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
  }

  body{
    background-image: url(imagenes/img3.jpeg);
    background-size: 100vw 100vh;
    background-attachment: fixed;


}
footer{

  transform: translateY(310px);
         
     }


    